.categories-container{
	width: 100%;
}
.categories-container h1{
text-align: center;
}
.categories-row1-list li{
	list-style-type: none;
}
.categories-row1-list li img , .categories-row2-list li img{
	width: 150px;
	height: 150px;
}
.categories-row1-list span ,.categories-row2-list span {
	font-weight: bold;
}

.categories-row1{
	margin-top: 30px;
}
.categories-row1 .categories-row1-list , .categories-row2 .categories-row2-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.categories-row1 .categories-row1-list li , .categories-row2 .categories-row2-list li{
	display: flex;  
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.categories-row1 .categories-row1-list li:hover , 
.categories-row2 .categories-row2-list li:hover{
	color: red;
}

@media only screen and (max-width: 450px){
/* .categories-row1 ul , .categories-row2 ul {
	display: grid;
	grid-template-columns: auto;
	display: flex;
	flex-wrap: wrap;
	border: 2px solid red;
} */
.categories-row1 ul li , .categories-row2 ul li{
	margin-bottom: 2em;
}
}