.digikalaoffer-container{
	border-radius: 10px;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
}
.digikalaoffer-container h1{
	text-align: center;
}
.digikalaoffer-row1 img {
	width: 80px;
	height:80px;
    border-radius: 50%;
    object-fit: contain;
}
.digikalaoffer-row1 ul{
	list-style-type: none;
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
	border: 1px solid #e3e0da;	
}

.digikalaoffer-row1 ul a {
	text-decoration: none;
	width: 100%;
	height: 100%;
}

.digikalaoffer-row1 ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 32px;
	border-bottom: 1px solid #e3e0da;
	border-right: 1px solid #e3e0da;
}
.digikalaoffer-row1 ul li:hover{
	color: red;
}
.digikalaoffer-row1 ul li img{
	margin-top: 0;
	margin-bottom: 10px;
	border-bottom: 1px solid red;
}

/* .digikalaoffer-row1 ul  .border1{
	border-right: 1px solid darkgrey;
	border-bottom: 1px solid darkgrey;
	background-color: darkred;
} */


/* responsive */
/* width<1024 */
@media only screen and (max-width: 1024px) and (min-width: 768px){
	.digikalaoffer-row1 ul{
		display: grid;
		grid-template-columns: auto auto auto auto;
		border-radius: 10px;
		border: 1px solid #e3e0da;	
	}	
}

/* tablet */
@media only screen and (max-width: 768px) and (min-width: 450px){
	.digikalaoffer-row1 ul{
		display: grid;
		grid-template-columns: auto auto auto;
		border-radius: 10px;
		border: 1px solid #e3e0da;	
	}	
}

@media only screen and (max-width: 450px){
	.digikalaoffer-row1 ul{
		display: grid;
		grid-template-columns: auto auto;
		border-radius: 10px;
		border: 1px solid #e3e0da;	
	}
}