.list1-container{
	margin-top: 1%;
	padding-top: 1%;
    background-color: #e4e7ed;
    width: 96%;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.list1-container ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;	
	justify-content: space-between;
	align-items: center;
}
.list1-container ul li ul li{
   margin-left: 1em;	
}
.list1-container ul li a{
   text-decoration: none;
}
.list1-container .list1-item-imgs{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.list1-container .list1-item-img{
	border-radius: 50%;
	margin: auto 0;
}
.list1-container ul li img{	
	width: 70px;
	height: 70px;
	margin-left: 4px;
}
.list1-container .list1-item-link1 {
	color: green;
	font-size: 30px;
}

.list1-container .list1-item-link2{
	background-color: green;
	color: white;
	padding: 10px;
	width: 100%;
	border-radius: 30px;
}
.list1-container .list1-item-end{
	color: green;
	background-color: white;
	padding: 20px 25px;
	border-radius: 50px;
}

.list1-item-img-badge{
	background-color: #ef4056;
	border-radius: 30%;
	position: relative;
	right: 20%;
	top: -20px;
	color: white;
	padding: 3%;
}

/* responsive < 1024 */
@media only screen and (max-width: 1024px) and (min-width: 768px){
	.list1-item-end{
		display: none;
	}
	.list1-item-link2{
		display: none;
	}
	.list1-item-imgs{
		flex: 1;
	}
	.list1-item-img-badge{
		right: 1%;
	}
}

@media only screen and (max-width: 768px) and (min-width: 450px){
	.list1-item-end{
		display: none;
	}
	.list1-container ul{
		justify-content: space-between;
	}
	.list1-item-link2{
		display: none;
	}
	.list1-item-link1{
		display: none;
	}
	.list1-container{
		width: 100%;
	}
	.list1-container ul{
		width: 100%;
		justify-content: space-around ;
		 margin-right:auto;
		 margin-left: auto;
	}
	.list1-item-imgs{
		flex: 1;
	}
	.list1-item-img-badge{
		right: 1%;
	}
}

@media only screen and (max-width: 450px){
	.list1-container{
		height: auto;
	} 
	.list1-container ul{
		display: flex;
		flex-direction: column-reverse;
	} 
	.list1-container ul li{
		margin-bottom: 0.8em;
	}
	.list1-container .list1-item-imgs{
		display: grid;
		grid-template-columns: auto auto auto;
	}
	.list1-item-img-badge{
		right: 0.5%;
	}
}