#header{
	width: 100% !important;
}

.img-header img{
	height : 50px;
	width: 100%;
	cursor: pointer;
}
.header1-mobile{
	display: none;
}
.header-sticky{
	position: fixed;
	top: 0;
	width: 100%;
  background-color: white;
  z-index: 99;
  height: 110px;
}

#header-stick{
}
.header-sticky #right-line , .header-sticky #box{
  position: absolute;
  top: 77px;
}
.header-sticky2{
	position: fixed;
	top: 30px;
	width: 100%;
  background-color: white;
  z-index: 99;
}

.header-middle{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 7px;
}

.container .header-middle .header-mid-img{	
	flex: 2;
	margin-left: 0;
	cursor: pointer;
}
.container .header-middle .header-mid-img img{
	text-align: right;
	position: absolute;
	top: 11%;
	right: 3%;
}

.container .header-middle .header-search{	
	flex: 8;	
}

.container .header-middle .header-search .header-form{
	width: 40%;
	height: 40px;
	display: flex;
	background: #f1f2f4;
	border-radius: 8px;
    position: absolute;
    right: 15%;
    top: 11%;
}


.container .header-middle .header-search .header-form input{
	border: none;
	padding: 7px;
	border-radius: 5px;
	background: #f1f2f4;
	width: 92%;
}

.container .header-middle .header-search .header-form input:focus{
	text-align: right;
	outline: none;
	font-size: 18px;
}
::placeholder{
	position: absolute;
	top: 25%;
	right: 2%;
	font-size: 15px;
}
.container .header-middle .header-search .header-form i{
	position: absolute;
	right: 3%;
	top: 30%;
}

.header-form{
	color: #767790;
}
.container .header-middle .left-header{
	flex: 2;
}

.header-btn{
	background-color: white;
	cursor: pointer;
	padding: 10px;
	border: 1px solid #ecedeb;
	border-radius: 7px;
}
.header-btn:hover{
	background-color: #e8e8ee;
}

.header-btn .header-btn-span{
   margin: auto 2px;
   font-weight: bold;
}

.container .header-middle .left-header  .fa-shopping-cart{
	margin-right: 12px;
	border-right: 1px solid #ecedeb ;
	padding: 10px 15px;
	cursor: pointer;
}
.container .header-middle .left-header i:hover{
	color: red;
}
.header-bottom{
	margin-top: 14px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	width: 98%;
	font-weight: bold;
	/* background-color: pink; */
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid lightcoral;
	padding-bottom: 1rem;
	background-color: white;
	margin-bottom: 0 !important;
	white-space: nowrap;
}

.header-bottom  .header-bottom1{
	order: 4;
	font-weight: bold;
	margin-top: 18px;
	flex-grow: 2;	
	position: relative;
	margin-right: -50px;
	cursor: pointer;
}

.header-bottom .header-bottom-item {
	color: #4b4d52;
}
.header-bottom1{
	background-color: red;
	padding-left: 1em;
}
.header-bottom .header-bottom-item i{
	margin-left: 5px;
	font-size: small;
	color: #c1c3c7;
}
.header-bottom-item ul li{
	cursor: pointer;
	padding-bottom: 10px;
	margin-left: 5px;
	font-size: small;
}
.header-bottom-item ul li:hover , .header-bottom-item ul li:hover i{
	color: red;
}

.header-bottom  .header-bottom1 i{
	color: black;
	margin: auto 5px;	
}
.header-bottom  .header-bottom2{
	order: 3;
	flex-grow: 0;
	flex-basis: 45%;
	display: flex;
	justify-content: space-between;
    margin-bottom: auto;
    margin-top: 8px;
    margin-right: 1px;
	font-size: small;
	height: 25px;
	border-left: 1px solid rgb(187, 181, 181);
    padding-top: 1em;
}

.header-bottom  .header-bottom2 ul{
	display: flex;
	flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   align-items: center;
}
.header-bottom  .header-bottom2 ul li{
	display: flex;
	margin-left: 2rem;
}
.header-bottom  .header-bottom2 ul li i{
	align-items: center;
	
}
.header-bottom  .header-bottom3{
	order: 2;
	flex-grow: 3;
	display: flex;
	justify-content: flex-end;
	height: 20px;
	margin-right: 2rem;
}
.header-bottom  .header-bottom3 ul li{
	margin: auto 1em;
    
}
.header-bottom  .header-bottom4{
	order: 1;
    margin-top: 15px;
    flex-grow: 2; 
	align-items: center; 
	cursor: pointer;  	
}


.header-bottom  .header-bottom3 ul{
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	margin-top : 20px;
} 


.header-bottom4:hover , .header-bottom4:hover i{
	color: red;
}
.header-bottom4 i{
	cursor: pointer;
	margin-left: 1em !important;
}

#box {
  height: 20px;
  width: 1px;
  position: absolute;
  top: 20%;
  left: 52%;
  background: #cccaca;
}

#right-line{
  height: 20px;
  width: 1px;
  position: absolute;
  top: 20%;
  right: 15%;
  background: #cccaca;
}


/* header categories  */
.header-product-category{
	height: 0;
	background-color: #f2f1ed;
	width: 92%;
	position: absolute;
	top: 150px;
    z-index: 999;
	margin-left: 3%;
	opacity: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.header-product-category:hover{
	height: 400px;
} 

.header-product-category .header-product-category-left{
	order: 1;
	display: flex;
	flex-direction: column;
  justify-content: space-around;
  border-left: 5px solid gray ;
  padding-left: 10px;  
}

.header-product-category .header-product-category-left .header-product-category-left-item span ,
.header-product-category .header-product-category-left .header-product-category-left-item i{
	position: relative;
	float: right;
	margin-right: 20px;
}

.header-product-category .header-product-category-left .header-product-category-left-item:hover{
	color : red;
	cursor: pointer;
}

.header-product-category-right .header-product-category-right-mobile {
	display: flex;
	flex-direction: row;

}

.header-product-category-right-mobile-col2 , .header-product-category-right-mobile-col1{
	display: flex;
	flex-direction: column;
	margin-left: 60px;
	margin-right: 30px;
	margin-top: 20px;
}
.header-product-category-right-mobile-col2 span , .header-product-category-right-mobile-col1 span{
	margin: 10px auto;
}


.header-product-category-right-mobile{
	display: flex;
}

.header-product-category-right-digital , .header-product-category-right-car , 
.header-product-category-right-clothes , .header-product-category-right-supermarket ,
.header-product-category-right-beauty {
	display: none;
}   


/* mobile menu */
/* w3scholl */
.overlay {
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0, 0.9);
	overflow-x: hidden;
	transition: 0.5s;
  }
  
  .overlay-content {
	position: relative;
	top: 8%;
	width: 100%;
	text-align: center;
	margin-top: 4rem;
  }
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;	
	margin-bottom: 0.5rem;
  }
  
  .overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  }
  .overlay .closebtn:hover{
	color : red;
  }
  
  /* shopping basket */
  #shoppingbasket{
	opacity:0 ;
    position: fixed ; 
	left:10px ;
	top:100px;
    height:0 ;
	width:40% ; 
	background-color:#edf5ef;
	z-index:-9999;
	border-radius:10px ; 
	align-items:center;
  }
  .shoppingbasket-top{
	display: flex ;
	flex-direction : row-reverse ;
	justify-content:space-between ;
	align-items:center;
    margin:auto 2em ;
  }
  .shoppingbasket-top-p{
	cursor: pointer;
	font-size: 40px ;
	 font-weight:bolder; 
  }
  .shoppingbasket-top-p:hover{
	color: red;
  }
  .shoppingbasket-product{
	display:flex ; 
	flex-direction:row-reverse ;
	 justify-content:space-around ;
	 align-items: center;
	  margin:0.5em 1em;
  }
  .shoppingbasket-product-img{
	width: 50px !important;
	height: 50px !important;
  }
  .shoppingbasket-count{
	display:flex ;
	 justify-content:"space-between"; 
	 width:40px
  }
  .shoppingbasket-count-plus{
	padding:2px ; 
	background-color:#039c2a  ;
	color:white;
	cursor: pointer ;
	width: 1em ;
	text-align:center;
  }
  .shoppingbasket-count-minus{
	padding:2px ;
	background-color:#d11f2b ;
	color:white; 
	cursor:pointer ;
	width:1em ; 
	text-align:center;
  }
  .shoppingbasket-count-number{
	margin: auto 0.2em
  }
  .deleteimg{
	 cursor:pointer ; 
	 width:20px !important ;
	 height:20px !important; 
	 padding:"0.2em";
  }
  .shoppingbasket-total-price{
	display:flex;
	 flex-direction:row-reverse  ;
	  justify-content:center ;
	   margin-right:1em ;
  }
  .shoppingbasket-bottom{
  display:flex; 
  justify-content:center ;
   align-items:center;
  }
  .shoppingbasket-bottom button{
	margin-bottom:1em ;
	 background-color:#01941f ;
	color: white ;
	 border:none;
	padding:0.5em 2em;
	border-radius:7px ;
	 cursor:pointer
  }
  .shoppingbasket-product img{
       width: 50px;
	   height: 50px;
  }
  @media screen and (max-height: 450px) {
	.overlay a {font-size: 20px}
	.overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
	}
  }
/*  */
.mobile-menu{
    display: fixed;
	right: 5%;
	left: 50%;
	height: 100%;
	width: 100%;
	opacity: 0.6;
	width: 50%;
	background-color: #767790;
}

	   	  
	/*  */

/* responsive */
/* width < 1024 */
@media only screen and (max-width: 1024px) and (min-width: 768px){			
	.header-middle{
		background-color: #767790;		
	} 
	  .container .header-stick{
		background-color:  white;
		display: none;
	} 
	.header1-mobile{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.header-mobile-top , .header-mobile-middle , .header-mobile-bottom{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin:1em 4em;

	}
	.header1-mobile .header-mobile-top .header-top-img2{
		width: 25px;
		height:25px;
	}
	.header-mobile-middle form{
		background: #f1f2f4;
		border-radius: 8px;
	}
    .header-mobile-middle form input
	{ 
	border: none;
	border-radius: 5px;
	background: #f1f2f4;
	width: 35em;
	height: 4em;
    }
   .header-mobile-middle input:focus{
		text-align: right;
		outline: none;
	}
	::placeholder{
		position: absolute;
		font-size: 1.5em;
	}
	.header-mobile-middle-form{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: start;
	}
	.header-mobile-middle i{
		position: relative;
		float: right;
		padding-right: 1em;
        margin-left: 1em;
	}	
}


/* tablet */
@media only screen and (max-width: 768px) and (min-width: 450px){

	/* .header-middle{
		background-color: #767790;		
	}  */

	  .container .header-stick{
		/* background-color:  white; */
		display: none;
	} 
	.header1-mobile{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.header-mobile-top , .header-mobile-middle , .header-mobile-bottom{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin:0.5em 2em;

	}
	.header-mobile-top img{
		cursor: pointer;
	}
	.header-mobile-top i{
		cursor: pointer;
		color: red;
	}
	.header1-mobile .header-mobile-top .header-top-img2{
		width: 25px;
		height:25px;
	}
	.header-mobile-middle form{
		background: #f1f2f4;
		border-radius: 8px;
	}
    .header-mobile-middle form input
	{ 
	border: none;
	border-radius: 5px;
	background: #f1f2f4;
	width: 20em;
	height: 3em;
    }
   .header-mobile-middle input:focus{
		text-align: right;
		outline: none;
	}
	::placeholder{
		position: absolute;
		font-size: 1.5em;
	}
	.header-mobile-middle-form{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: start;
	}
	.header-mobile-middle i{
		position: relative;
		float: right;
		padding-right: 1em;
        margin-left: 1em;
	}	
}

@media only screen and (max-width: 450px){

	.img-header{
		height: 35px;
		object-fit:cover;
	}

	  .container .header-stick{
		display: none;
	} 
	.header1-mobile{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.header-mobile-top  , .header-mobile-bottom{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin:0.5em 2em;

	}
	.header-mobile-middle{
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
		align-items: center;
		justify-content: center;
	}
	.header1-mobile .header-mobile-top .header-top-img2{
		width: 25px;
		height:25px;
	}
	.header-mobile-middle form{
		background: #f1f2f4;
		border-radius: 8px;
	}
    .header-mobile-middle form input
	{ 
	border: none;
	border-radius: 5px;
	background: #f1f2f4;
	height: 3em;
    }
   .header-mobile-middle input:focus{
		text-align: right;
		outline: none;
	}
	::placeholder{
		position: absolute;
	}
	.header-mobile-middle-form{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: start;
		margin-bottom: 0.5em;
	}
	.header-mobile-middle i{
		position: relative;
		float: right;
        margin-left: 1em;		
	}	
}
