.slider-img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider-container{
	height: 400px;
	margin-top: 14px;
}

.slider-container .slider-body{
	background-color: yellow;
	height : 100%;
}
.slider-container .slider-body .sliderimg-div {
	height: 400px;
}
