.DigiClub-container{
	background-color: #35a6c8;
	margin-top: 20px; 
	width: 96%;
	margin-right: auto;	
	margin-left: auto;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
}
.DigiClub-links{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 85%;
	flex: 2;
}

.DigiClub-links .DigiClub-sublinks{
	background-color: white;
	flex-basis: 275px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: auto 5px;
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.DigiClub-links .DigiClub-sublinks img{
	width: 120px;
	height: 60px;
	border-radius: 10px 0 0 10px;
}

.DigiClub-item{
	flex: 1;
	text-align: right;
	color: white;	
	font-size: 25px;
	margin: auto 30px;
}

.DigiClub-links .DigiClub-sublinks i{
	margin-right: 20px;
	color: #7587c9;
}


/* responsive */
/* width < 1024 */
@media only screen and (max-width: 1024px) and (min-width: 768px){			
  .DigiClub-container .DigiClub-links .DigiClub-item{
	width: 20em;
	border: 2px solid red;
  }
}
/* tablet */
@media only screen and (max-width: 768px) and (min-width: 450px){

}

/* mobile */
@media only screen and (max-width: 450px){	
	.DigiClub-container{
		flex-direction: column-reverse;
	}
	.DigiClub-links{
		flex-direction: column;
	}
	.DigiClub-sublinks{
		width: 100%;
		height: 2px;
	}
    .DigiClub-links{
		height: 20px !important;
	}
	.DigiClub-links a{
	    flex-basis: 50px !important;
        width: 100%;
        border-radius: 10px !important;
		margin-top: 1em !important;

	}
	.DigiClub-links .DigiClub-sublinks img{
		height: 20px !important;
	}
}